#card {
    max-width: 18rem !important;
    width: 1rem;
}

.budget-list-logo {
    padding: 0.02rem 0.5rem 1rem 0.5rem;
    color: #e9ecef;
}

#budget-title-tag {
    color: #e9ecef;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

#budget-card-links-income {
    font-size: 1rem;
    color: #e9ecef;
    font-weight: 100;
}

#budget-card-links-income:hover {
    font-size: 1.1rem;
    color: #0b9e06cc;
    font-weight: bolder;
    text-decoration:underline;
}

#budget-card-links-expense {
    font-size: 1rem;
    color: #e9ecef;
    font-weight: 100;
}

#budget-card-links-expense:hover {
    font-size: 1.1rem;
    color: #d4650b;
    font-weight: bolder;
    text-decoration:underline;
}
#budget-card-links-delete {
    font-size: 1rem;
    color: #e9ecef;
    font-weight: 100;
}

#budget-card-links-delete:hover {
    font-size: 1.1rem;
    color: #d80e0eb4;
    font-weight: bolder;
    text-decoration:underline;
}

#budget-card-header {
    font-size: 1.1  rem;
    color: #e9ecef;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}